@import "scss/variables";

.heroBanner {
  margin-top: -80px;
  .bannerblock {
    margin: 0;
    padding: 80px 0;
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    color: #ffffff;
    .bannerinfo {
      display: flex;
      flex-wrap: wrap;
      .bannerinfoinner {
        flex: 0 0 75%;
        max-width: 75%;

        .bannertitle {
          color: #ffffff;
          font-size: 26px;
          font-weight: 300;
          margin: 0;
          padding: 0;
          line-height: 50px;

          strong {
            font-weight: bold;
          }

          @media screen and (max-width: 767px) {
            font-size: 18px;
            line-height: 38px;
            text-align: center;
          }
        }
        .buttonGroup {
          margin-top: 24px;
        }
        @media screen and (max-width: 767px) {
          text-align: center;
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      @media screen and (max-width: 767px) {
        justify-content: center;
      }
    }
    @media screen and (max-width: 767px) {
      text-align: center;
      min-height: 420px;
      padding-top: 120px;
    }
  }
}
