@import "scss/variables";

.IntroSection {
  margin: 0;
  text-align: left;
  overflow: hidden;

  .intro_content {
    .left_col {
      width: 58.33%;
      .HeadingWithBorder {
        font-size: 22px;
        line-height: 33px;
        padding: 10px 0;
        margin-bottom: 30px;
        position: relative;
        color: #2b2b2b;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: -28px;
          width: 10px;
          height: 100%;
          background: #b83939;
        }
        @media screen and (max-width: 767px) {
          font-size: 18px;
          margin-bottom: 15px;
        }
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    .right_col {
      width: 41.66%;
      position: relative;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
  .iconboxes {
    .iconwithtext {
      margin: 50px 0 0 0;
      padding: 0;
      width: 25%;
      font-size: 18px;
      color: #2b2b2b;
      font-weight: 500;
      i {
        color: #b83939;
        font-size: 60px;
        display: block;
        margin-bottom: 20px;
      }
      @media screen and (max-width: 767px) {
        width: 50%;
      }
      @media screen and (max-width: 575px) {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
