@import "scss/variables";

.offerslist {
  .offerbox {
    overflow: hidden;
    position: relative;
    width: 25%;
    padding: 0;
    img {
      width: 100%;
      max-width: 100%;
      transition: 1s all;
      -ms-transition: 1s all;
      -webkit-transition: 1s all;
      -o-transition: 1s all;
      -moz-transition: 1s all;
      min-height: 350px;
    }
    .offercontent {
      margin: 0;
      padding: 20px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(rgba(255, 255, 255, 0) 0%, #000 100%);
      color: #ffffff;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: flex-end;
      flex-direction: column;
      .h4 {
        font-size: 20px;
        margin-bottom: 20px;
        color: #ffffff;
      }
    }
    @media screen and (max-width: 992px) {
      width: 50%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}
